/*pagina toda*/
*{
    font-family:monospace;
}

body{
    background-image: url(./assets/fundo\ 2.png);
    background-size: 100%;
}

/*cabeçalho*/
header{
    text-align: center;
    background-color: #da689d;
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px;
    margin: 0 0 10px 0; /*ou marginbottom:50px */
    border-radius: 20px;
    text-decoration: none;
}

/*corpo*/
.menu li{
    display: inline;
    padding: 15px;
}
.menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
#menu li a:hover {
    color: #eb0871;
}
.titulo{
    text-align: center;
    background-color: #da689d;
    color: #ffffff;
}
.subtitulo{
    text-align:left;
    color: #000000;
}

nav{
    text-align:center;
    background-color: #000000;
    color: #ffffff;
    text-transform:capitalize;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 20px;
    text-decoration: none; 
}
.p-30{
    padding: 30px;
}
button{
    border-radius: 20px;
}

/* imagem*/
.capa{
    width: 100%;
    border-radius: 20px;
}

.hobbies li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    }
    

/*Rodapé*/
footer{
    text-align: center;
    font-size: 15px;
    color:#000000;
    text-transform: uppercase;
    background-color: #da689d;
    border-radius: 20px;

    padding: 50 px;
    margin: 50px 0 0 0 ;
}
.tm-social{
    text-align: center;
    height: 40px;
    width: 40px;
    padding: 30px;
}

/*CONTATO*/

/*body*/
.container{
    display:flex;
    flex-flow: row;
    justify-content:center;
    align-items: center;
}

.p-30{
    padding: 50px;
    border-radius: 50px;
}

button{
    border-radius: 20px;
}

input{
    border-radius: 20px;
    background-color: #ffffff;
}
textarea{
    border-radius: 20px;
    background-color: #ffffff;
}

.ml-50{
    margin-left: 50px;
}