/*pagina toda*/
*{
    font-family:monospace;
}

body{
    background-image: url(./assets/fundo\ 2.png);
    background-size: 100%;
}

/*cabeçalho*/
header{
    text-align: center;
    background-color: #da689d;
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px;
    margin: 0 0 10px 0; /*ou marginbottom:50px */
    border-radius: 20px;
    text-decoration: none;
}

nav{
    text-align: center;
    background-color: #ee95ba;
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px;
    margin: 0 0 10px 0;
    border-radius: 20px;
    text-decoration: none; 
}

form{
    border-radius: 20px;
    color: #000000;
}

button{
    border-radius: 20px;
}

input{
    border-radius: 20px;
    background-color: #ffffff;
}
textarea{
    border-radius: 20px;
    background-color: #ffffff;
}

/*rodapé*/
footer{
    text-align: center;
    font-size: 15px;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: #da689d;
    border-radius: 20px;

    padding: 50 px;
    margin: 50px 0 0 0 ;
}